nbproject
_private
ubench_*
perf.data*
data_temp*
*.dot
log.txt
step*.txt
out*.svg
out*.png
temp_*.txt
temp.*.txt
temp.txt
compile.txt
*.pyc
time*.txt
*_bin
*_bin.old
*_data
*_data.old
*.zip
*.png
*.gif
*.mp4
*.htm
datalog*.txt
_*.txt
output
microbench_experiments/example_standard/output
microbench_experiments/example_standard/output/*
microbench_experiments/example_standard/output/_gen.sh
*.csv
data*.txt
*.sqlite
plot*.txt
output_*.txt
_output_backup
data
macrobench/bin
log.*
Makefile.var
bin
_unused
*.html
_bak
*/to_upload
*/output_tex
common/papi/a.out
